@charset "UTF-8";
@font-face {
  font-family: "NEXON";
  src: url("../font/NEXONB.woff") format("woff");
  src: url("../font/NEXONL.woff") format("woff");
  src: url("../font/NEXONM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SEBANG";
  src: url("../font/SEBANG.otf") format("otf");
  src: url("../font/SEBANGBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mabi";
  src: url("../font/Mabinogi_Classic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  background-size: cover;
  background-position: center;
  list-style: none;
  box-sizing: border-box !important;
}

body {
  width: 100%;
  font-family: "Mabi";
  overflow-x: hidden;
  background-color: #fefefe;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.common_button {
  background-color: white;
  border: 2px solid #000;
  padding: 8px 16px;
  color: blue;
  font-size: 17px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.common_button:hover {
  background-color: #000;
  color: aliceblue;
}

@keyframes blink_effect {
  50% {
    opacity: 0;
  }
}
@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
#index_wrap {
  max-width: 700px;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 40px auto 0;
  padding: 16px;
  line-height: 1.5;
  font-size: 15px;
  color: #333;
  text-align: center;
}
#index_wrap .thanks {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
#index_wrap .thanks:hover {
  background-color: #999;
}
#index_wrap .thanks span {
  color: #fff;
  font-size: 50px;
  position: relative;
  font-weight: 100;
  top: 8px;
}
#index_wrap #modal {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 280px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}
#index_wrap #modal .modal_img {
  width: 50px;
  height: 50px;
  background-image: url("../image/tocken1.png");
  margin: 20px auto 20px;
}
#index_wrap #modal h4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px 10px 0 0;
}
#index_wrap #modal h4 #close {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  background-image: url("../image/icon/close.png");
}
#index_wrap #modal div {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#index_wrap #modal div p {
  margin-top: 10px;
}
#index_wrap #modal_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 100;
}
#index_wrap .profile_wrap .main_ver {
  font-size: 13px;
  animation: blink_effect 2s step-end infinite;
}
#index_wrap hr {
  width: 100vw;
  position: absolute;
  left: 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}
#index_wrap .navigation {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}
#index_wrap .navigation a {
  text-decoration: none;
  width: 100%;
  height: 170px;
  transition: 0.3s ease-in-out;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
#index_wrap .navigation a:hover {
  animation: float 1s ease-in-out infinite;
}
#index_wrap .navigation a:nth-child(1) {
  background-image: url("../image/main/1-4.png");
}
#index_wrap .navigation a:nth-child(1):hover {
  background-image: url("../image/main/1-1.png");
}
#index_wrap .navigation a:nth-child(2) {
  background-image: url("../image/main/5-1.png");
}
#index_wrap .navigation a:nth-child(2):hover {
  background-image: url("../image/main/5-2.png");
}
#index_wrap .navigation a:nth-child(4) {
  background-image: url("../image/main/2-1.png");
}
#index_wrap .navigation a:nth-child(4):hover {
  background-image: url("../image/main/2-2.png");
}
#index_wrap .navigation a:nth-child(3) {
  background-image: url("../image/main/4-2.png");
}
#index_wrap .navigation a:nth-child(3):hover {
  background-image: url("../image/main/4-1.png");
}
#index_wrap .navigation a:nth-child(5) {
  background-image: url("../image/main/3-1.png");
}
#index_wrap .navigation a:nth-child(5):hover {
  background-image: url("../image/main/3-4.png");
}
#index_wrap .navigation a:nth-child(6) {
  background-image: url("../image/main/6-2.png");
}
#index_wrap .navigation a:nth-child(6):hover {
  background-image: url("../image/main/6-1.png");
}
#index_wrap .navigation a li {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  position: relative;
}
#index_wrap .navigation a li::before {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 0px;
  line-height: 1;
  content: "";
}
#index_wrap .navigation a:nth-child(1) li::before {
  content: "설명서";
  background-color: #f84f4f;
}
#index_wrap .navigation a:nth-child(2) li::before {
  content: "러닝커뮤 목록";
  background-color: #3ac952;
}
#index_wrap .navigation a:nth-child(3) li::before {
  content: "TRPG 설명서";
  background-color: #e4a700;
}
#index_wrap .navigation a:nth-child(4) li::before {
  content: "UTAU";
  background-color: #0294d8;
}
#index_wrap .navigation a:nth-child(5) li::before {
  content: "커미션 페이지";
  background-color: #583048;
}
#index_wrap .navigation a:nth-child(6) li::before {
  content: "admin page";
  background-color: #000;
}
#index_wrap .title {
  font-size: 36px;
  font-family: "Do Hyeon", sans-serif;
}
#index_wrap .main_image {
  width: 250px;
  height: 250px;
  background-image: url("../image/profile.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 24px auto 16px;
  transition: 0.5s ease-in-out;
  border: 1px solid #000;
}
#index_wrap .social_wrap {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#index_wrap .social_wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#index_wrap .social_wrap a:hover {
  text-decoration: underline;
}
#index_wrap .social_wrap a p {
  margin-right: 8px;
  position: relative;
  top: -3px;
}
#index_wrap .social_wrap .icon_github {
  width: 14px;
  height: 14px;
  background-image: url("../image/icon/github.png");
}
#index_wrap .social_wrap .icon_twitter {
  width: 14px;
  height: 14px;
  background-image: url("../image/icon/twitter.png");
}
#index_wrap .social_wrap .icon_soundcloud {
  width: 14px;
  height: 14px;
  background-image: url("../image/icon/soundcloud.png");
}
#index_wrap .copy {
  margin-top: 20px;
  font-size: 13px;
  color: #333;
  letter-spacing: 0.5px;
}

#op_wrap h2 {
  width: 300px;
  text-align: center;
  margin: 100px auto 36px;
  padding-bottom: 16px;
  font-size: 30px;
  position: relative;
}
#op_wrap h2::after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
#op_wrap hr {
  display: none;
  width: 40%;
  opacity: 0.3;
}
#op_wrap .logo_wrap {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: center;
}
#op_wrap .logo_wrap span {
  font-size: 17px;
  font-weight: bold;
}
#op_wrap .logo_wrap p {
  font-size: 13px;
  color: #999;
}
#op_wrap .logo_wrap .logo_container {
  width: 248px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#op_wrap .logo_wrap .logo_container span {
  margin: 16px auto 4px;
}
#op_wrap .logo_wrap .logo_container .logo_img {
  width: 248px;
  height: 248px;
  border: 8px solid #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-size: 100%;
}
#op_wrap .logo_wrap .logo_container .logo_img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-size: 105%;
}
#op_wrap .logo_wrap .logo_container .logo_1 {
  background-image: url("../image/logo1.png");
}
#op_wrap .logo_wrap .logo_container .logo_2 {
  background-image: url("../image/logo2.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_3 {
  background-image: url("../image/logo3.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_4 {
  background-image: url("../image/logo4.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_5 {
  background-image: url("../image/logo5.png");
}
#op_wrap .logo_wrap .logo_container .logo_6 {
  background-image: url("../image/logo6.png");
}
#op_wrap .logo_wrap .logo_container .logo_7 {
  background-image: url("../image/logo7.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_8 {
  background-image: url("../image/logo8.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_9 {
  background-image: url("../image/logo9.png");
}
#op_wrap .logo_wrap .logo_container .logo_10 {
  background-image: url("../image/logo10.png");
}
#op_wrap .logo_wrap .logo_container .logo_11 {
  background-image: url("../image/logo11.png");
}
#op_wrap .logo_wrap .logo_container .logo_12 {
  background-image: url("../image/logo12.png");
}
#op_wrap .operation_foot {
  width: 300px;
  margin: 80px auto 48px;
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: center;
}
#op_wrap .operation_foot::after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
.info_header {
  height: 48px;
  background-color: #fff;
  z-index: 1000;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info_wrap {
  width: 90%;
  margin: 0 auto;
  word-break: keep-all;
  font-family: "NanumSquareNeo-Variable";
  text-align: center;
}
#info_wrap .info_img {
  min-width: 170px;
  width: 170px;
  height: 200px;
  margin: 36px auto 0px;
  background-image: url("/image/infoC2.png");
}
#info_wrap .info_img:hover {
  animation: shake 0.5s infinite;
  background-image: url("/image/infoC.png");
}
#info_wrap .info_container {
  max-width: 600px;
  min-width: 280px;
  margin: 24px auto 100px;
}
#info_wrap .info_container p {
  margin-top: 36px;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  word-spacing: 1.5px;
}
#info_wrap .info_container p::before {
  content: "🐾";
  font-size: 30px;
  padding-left: 8px;
  opacity: 0.8;
}
#info_wrap .info_container p::after {
  content: "_";
  color: #ccc;
}

.info_foot {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px;
}

@media (max-width: 600px) {
  #op_wrap h2 {
    font-size: 20px;
  }
  #info_wrap {
    width: 100%;
    padding: 10px;
  }
  #info_wrap .info_container p {
    width: 100%;
    margin: 30px auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
  }
  #index_wrap {
    width: 100%;
    max-width: none;
    min-width: 280px;
    margin: 0 auto 100px;
    padding: 0;
  }
  #index_wrap .navigation {
    width: 100%;
    min-width: none;
    max-width: 320px;
    display: grid;
    grid-template-columns: repeat(3, 0.4fr);
    grid-auto-rows: 7.5rem 7.5rem 7.5rem;
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  #index_wrap .navigation a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
  #index_wrap .social_wrap {
    width: 100%;
    min-width: 280px;
    max-width: 280px;
    font-size: 12px;
  }
  #index_wrap .thanks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  body {
    font-size: 14px;
  }
  .lang {
    padding: 0 !important;
    justify-content: center !important;
  }
}
.info_foot {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px;
}
.info_foot button {
  font-size: 14px;
}

.utau_wrap {
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-image: url("../image/UTAU/bg.png");
}
.utau_wrap .utau_container {
  max-width: 650px;
  min-width: 280px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 10px;
}
.utau_wrap .utau_container .lang {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
.utau_wrap .utau_container .lang button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 70px;
  height: 30px;
  margin-right: 4px;
  font-size: 12px;
}
.utau_wrap .utau_container .lang button:nth-child(4) {
  font-size: 10.5px;
}
.utau_wrap .utau_container .about_img {
  width: 700px;
  height: 400px;
  background-image: url("../image/UTAU/about_img.png");
  opacity: 0.9;
  position: relative;
  top: 60px;
}
.utau_wrap .utau_container .cont {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.utau_wrap .utau_container .cont a {
  width: 140px;
  height: 40px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin: 10px;
  padding-top: 3px;
  transition: 0.3s ease-in-out;
}
.utau_wrap .utau_container .cont a:hover {
  background-color: #000;
  color: #fff;
}
.utau_wrap .utau_container .notice {
  width: 100%;
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto 0;
  padding: 42px 0 80px;
}
.utau_wrap .utau_container .notice #ko {
  display: block;
}
.utau_wrap .utau_container .notice #en {
  display: none;
}
.utau_wrap .utau_container .notice #jp {
  display: none;
}
.utau_wrap .utau_container .notice #cn {
  display: none;
}
.utau_wrap .utau_container .notice h2 {
  font-size: 20px;
  margin-bottom: 24px;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.utau_wrap .utau_container .notice p {
  margin-top: 18px;
  line-height: 1.4;
}
.utau_wrap .utau_download {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.utau_wrap .utau_download a {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 340px;
  height: 453px;
  border: 1px solid #000;
  transition: 0.4s ease-out;
}
.utau_wrap .utau_download a ul {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  padding-bottom: 16px;
  padding-left: 16px;
}
.utau_wrap .utau_download a ul li:nth-child(1) {
  font-size: 24px;
  background-color: #000;
  padding: 6px 10px 0px;
}
.utau_wrap .utau_download a ul li:nth-child(2) {
  background-color: #fff;
  color: #000;
  padding: 3px 10px 0px;
  margin-bottom: 4px;
}
.utau_wrap .utau_download .hitch {
  background-image: url("../image/UTAU/1-2.png");
  margin-right: 40px;
  background-color: #99d8f5;
}
.utau_wrap .utau_download .hitch:hover {
  background-image: url("../image/UTAU/1.png");
  background-color: #76b1ff;
}
.utau_wrap .utau_download .hetch {
  background-image: url("../image/UTAU/2-2.png");
  background-color: #919191;
}
.utau_wrap .utau_download .hetch:hover {
  background-image: url("../image/UTAU/2.png");
  background-color: #726c6c;
}

#sidebar {
  display: none !important;
}

#page-container {
  display: none !important;
}

/** page structure **/
.trpg_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  min-width: 700px;
  height: 90vh;
  overflow-y: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 28px;
}
.trpg_wrap .trpg_image {
  width: 280px;
  height: 230px;
  background-image: url("../image/hiwolfy5.png");
  position: absolute;
  top: 1%;
  right: 5%;
  opacity: 0.7;
}
.trpg_wrap details {
  width: 520px;
  margin: 0 auto;
  background-color: #fff;
  word-break: keep-all;
  z-index: 100;
}
.trpg_wrap details summary {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s;
  box-shadow: 1px 1px 2px gray;
}
.trpg_wrap details .tpt {
  display: block;
  margin: 5px 0 10px;
  padding: 10px 20px;
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px gray;
}
.trpg_wrap details .tpt p {
  margin: 30px 0px 10px;
}
.trpg_wrap details .tpt p::before {
  content: "✔";
}
.trpg_wrap .trpg_rule {
  z-index: 10;
  width: 700px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.trpg_wrap .trpg_rule span {
  padding: 4px 12px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 12.5px;
  color: #000;
  opacity: 0.7;
}
.trpg_wrap .trpg_rule span:nth-child(1) {
  border: 3px solid rgb(0, 228, 38);
}
.trpg_wrap .trpg_rule span:nth-child(2) {
  border: 3px solid rgb(255, 36, 36);
}
.trpg_wrap .trpg_rule span:nth-child(3) {
  border: 3px solid rgb(7, 197, 255);
}
.trpg_wrap .trpg_rule span:nth-child(4) {
  border: 3px solid rgb(255, 189, 9);
}
.trpg_wrap .trpg_rule span:nth-child(5) {
  border: 3px solid rgb(62, 8, 255);
}
.trpg_wrap .trpg_rule span:hover {
  opacity: 1;
}
.trpg_wrap .search_input {
  width: 360px;
  margin: 20px auto 24px;
  box-sizing: border-box;
  padding: 10px 16px 10px 50px;
  font-family: "mabi";
  border-radius: 50px;
  font-size: 18px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: url("../image/icon/search.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 12px;
  opacity: 0.5;
}
.trpg_wrap input {
  outline: none;
  transition: 0.4s all;
}
.trpg_wrap input:focus {
  border: 1px solid #000;
  background-color: #fff;
  opacity: 1;
}
.trpg_wrap .hr {
  width: 200px;
  height: 1px;
  background-color: #ccc;
  margin: 0px auto 30px;
}
.trpg_wrap #targetPn {
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}
.trpg_wrap #targetPn ul {
  width: 90%;
  margin: 0 auto;
  min-width: 900px;
  font-size: 18px;
  display: flex;
  border-bottom: 1px solid #000;
}
.trpg_wrap #targetPn ul li {
  padding: 10px 8px;
  text-align: center;
  font-weight: 900;
}
.trpg_wrap #targetPn ul li:nth-child(1) {
  width: auto;
}
.trpg_wrap #targetPn ul li:nth-child(2) {
  width: 150px;
  margin-left: auto;
}
.trpg_wrap #targetPn ul li:nth-child(3) {
  width: 100px;
}
.trpg_wrap #targetPn ul li:nth-child(4) {
  width: 100px;
}
.trpg_wrap #targetPn table {
  width: 90%;
  margin: 0 auto;
  min-width: 900px;
  font-size: 18px;
}
.trpg_wrap #targetPn table tr:nth-child(even) {
  background-color: #f6f6f6;
}
.trpg_wrap #targetPn table tr td {
  padding: 10px 8px;
  text-align: center;
}
.trpg_wrap #targetPn table tr td:nth-child(1) {
  text-align: left;
}
.trpg_wrap #targetPn table tr td:nth-child(2) {
  width: 150px;
}
.trpg_wrap #targetPn table tr td:nth-child(3) {
  width: 100px;
}
.trpg_wrap #targetPn table tr td:nth-child(4) {
  width: 100px;
}
.trpg_wrap h1 {
  font-size: 30px;
  text-align: center;
  margin: 80px auto 24px;
  z-index: 100;
}
.trpg_wrap h6 {
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}
.trpg_wrap h6 span {
  color: #333;
  font-weight: 700;
}

@media (max-width: 699px) {
  .trpg_wrap {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 300px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: none;
  }
  .trpg_wrap .trpg_image {
    opacity: 0.2;
  }
  .trpg_wrap details {
    width: 100%;
    font-size: 13px;
  }
  .trpg_wrap details .tpt {
    font-size: 12px;
  }
  .trpg_wrap .search_input {
    width: 90%;
    font-size: 14px;
  }
  .trpg_wrap h1 {
    width: 100%;
    font-size: 20px;
    z-index: 10;
  }
  .trpg_wrap .trpg_rule {
    width: 100%;
    flex-wrap: wrap;
  }
  .trpg_wrap #targetPn {
    width: 100%;
  }
  .trpg_wrap #targetPn ul li {
    font-size: 15px;
  }
  .trpg_wrap #targetPn table {
    font-size: 14.5px;
  }
}
#character_wrap {
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;
  word-break: keep-all;
  /* Menu das abas */
  /* Conteúdo das abas */
}
#character_wrap .common_button {
  width: 100px;
  text-align: center;
  margin: 24px 24px 24px auto;
}
#character_wrap h1 {
  font-size: 26px;
  text-align: center;
  margin: 24px;
}
#character_wrap header div {
  font-size: 14px;
  text-align: center;
  width: 600px;
  margin: 0 auto 24px;
}
#character_wrap header div p {
  line-height: 1.6;
}
#character_wrap .tabs_menu {
  max-width: 900px;
  min-width: 600px;
  background: #eee;
}
#character_wrap .tabs_menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#character_wrap .tabs_menu ul li {
  width: 100%;
  text-align: center;
}
#character_wrap .tabs_menu ul li a {
  display: block;
  padding: 10px 28px;
  text-decoration: none;
  color: #333;
  transition: 0.3s all;
}
#character_wrap .tabs_menu ul li a:hover {
  color: #fff;
  background-color: #666;
}
#character_wrap .tabs_menu ul li a.active_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  color: #fff;
}
#character_wrap .tabs {
  display: none;
  padding: 48px 0;
}
#character_wrap .tabs .tabs_inner {
  margin: 16px;
  text-align: center;
}
#character_wrap .tabs .tabs_inner p {
  width: 260px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s all ease-in-out;
  background-repeat: no-repeat;
}
#character_wrap .tabs .tabs_inner p:hover {
  border: 5px solid #000;
  border-radius: 4px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#character_wrap .tabs .tabs_inner h5 {
  font-weight: normal;
  font-size: 13px;
  margin: 8px auto 4px;
  color: #666;
}
#character_wrap .tabs .tabs_inner .ch1 {
  background-image: url("../image/c2.png");
  background-size: 115%;
}
#character_wrap .tabs .tabs_inner .ch1:hover {
  background-size: 130%;
  background-position: center 0px;
}
#character_wrap .tabs .tabs_inner .ch2 {
  background-image: url("../image/c1.png");
  background-position: 45% 50%;
  background-size: 125%;
}
#character_wrap .tabs .tabs_inner .ch2:hover {
  background-size: 140%;
  background-position: center 0px;
}
#character_wrap .tabs .tabs_inner .ch3 {
  background-image: url("../image/c6.png");
  background-position: 45% 10%;
  background-size: 125%;
}
#character_wrap .tabs .tabs_inner .ch3:hover {
  background-size: 140%;
  background-position: 55% 8%;
}
#character_wrap .tabs .tabs_inner .ch4 {
  background-image: url("../image/c3.png");
  background-size: 127%;
}
#character_wrap .tabs .tabs_inner .ch4:hover {
  background-size: 150%;
  background-position: center 0;
}
#character_wrap .tabs .tabs_inner .ch5 {
  background-image: url("../image/c4.png");
  background-size: 120%;
}
#character_wrap .tabs .tabs_inner .ch5:hover {
  background-size: 140%;
  background-position: center 0;
}
#character_wrap .tabs .tabs_inner .ch6 {
  background-image: url("../image/c7.png");
  background-size: 160%;
}
#character_wrap .tabs .tabs_inner .ch6:hover {
  background-size: 180%;
  background-position: 40% 0;
}
#character_wrap .tabs .tabs_inner .ch7 {
  background-image: url("../image/c12.png");
  background-size: 118%;
}
#character_wrap .tabs .tabs_inner .ch7:hover {
  background-size: 140%;
  background-position: 100% 50%;
}
#character_wrap .tabs .tabs_inner .ch8 {
  background-image: url("../image/c11.png");
  background-size: 100%;
}
#character_wrap .tabs .tabs_inner .ch8:hover {
  background-size: 140%;
  background-position: 100% 0px;
}
#character_wrap .tabs .tabs_inner .ch9 {
  background-image: url("../image/c10.png");
  background-size: 120%;
}
#character_wrap .tabs .tabs_inner .ch9:hover {
  background-size: 140%;
  background-position: center 20%;
}
#character_wrap .tabs .tabs_inner .ch10 {
  background-image: url("../image/c9.png");
  background-size: 100%;
  background-position: 50% 0%;
}
#character_wrap .tabs .tabs_inner .ch10:hover {
  background-size: 120%;
  background-position: center 0%;
}
#character_wrap .tabs .tabs_inner .ch11 {
  background-image: url("../image/c5.png");
  background-size: 110%;
}
#character_wrap .tabs .tabs_inner .ch11:hover {
  background-size: 130%;
  background-position: center 0%;
}
#character_wrap .tabs .tabs_inner .ch12 {
  background-image: url("../image/c13.png");
  background-position: 30% 20%;
  background-size: 130%;
}
#character_wrap .tabs .tabs_inner .ch13 {
  background-image: url("../image/c15.png");
  background-size: 214%;
  background-position: 50% 20%;
}
#character_wrap .tabs .tabs_inner .ch14 {
  background-image: url("../image/c14.png");
}
#character_wrap .tabs .tabs_inner .ch15 {
  background-image: url("../image/c8.png");
}
#character_wrap .tabs .tabs_inner .ch16 {
  background-image: url("../image/c16.png");
  background-size: 134%;
  background-position: 40% 10%;
}
#character_wrap .tabs .tabs_inner .ch17 {
  background-image: url("../image/c17.png");
}
#character_wrap .tabs .tabs_inner .ch18 {
  background-image: url("../image/c18.png");
}
#character_wrap .tabs .tabs_inner .ch19 {
  background-image: url("../image/c19.png");
  background-position: 80% 0%;
}
#character_wrap .tabs .tabs_inner .ch20 {
  background-image: url("../image/c20.png");
}
#character_wrap .tabs .tabs_inner .ch23 {
  background-image: url("../image/c21.png");
}
#character_wrap .tabs .tabs_inner .ch24 {
  background-image: url("../image/c22.png");
}
#character_wrap .tabs .tabs_inner .ch25 {
  background-image: url("../image/c27.png");
}
#character_wrap .tabs .tabs_inner .ch26 {
  background-image: url("../image/c23.png");
}
#character_wrap .tabs .tabs_inner .ch27 {
  background-image: url("../image/c24.png");
}
#character_wrap .tabs .tabs_inner .ch28 {
  background-image: url("../image/c25.png");
}
#character_wrap .tabs .tabs_inner .ch29 {
  background-image: url("../image/c26.png");
}
#character_wrap .tabs .tabs_inner .ch30 {
  background-image: url("../image/c30.png");
}
#character_wrap .tabs .tabs_inner .ch32 {
  background-image: url("../image/c31.png");
}
#character_wrap .tabs .tabs_inner .ch33 {
  background-image: url("../image/c99.png");
}
#character_wrap .tabs .tabs_inner .ch34 {
  background-image: url("../image/c28.png");
}
#character_wrap .tabs .tabs_inner .ch35 {
  background-image: url("../image/c32.png");
  background-size: 120%;
}
#character_wrap .tabs .tabs_inner .ch35:hover {
  background-size: 160%;
  background-position: center 0%;
}
#character_wrap .tabs.active_tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.admin_wrap {
  font-family: "NanumSquareNeo-Variable";
  max-width: 600px;
  min-width: 300px;
  margin: 48px auto;
  padding: 10px;
  font-size: 14px;
  line-height: 1.7;
}
.admin_wrap .admin_image {
  text-indent: -9999px;
  max-width: 400px;
  min-width: 300px;
  height: 300px;
  background-image: url("../image/hiwolfy6.png");
  margin: 0 auto;
}
.admin_wrap h1 {
  text-align: center;
  font-size: 20px;
  margin: 20px 0 50px;
}
.admin_wrap h2 {
  font-size: 16px;
  line-height: 3;
}
.admin_wrap li::before {
  content: "- ";
}
.admin_wrap .version li:nth-child(2) {
  font-weight: bold;
  background-color: rgb(228, 241, 247);
}