@charset "UTF-8";
@font-face {
  font-family: "NEXON";
  src: url("../font/NEXONB.woff") format("woff");
  src: url("../font/NEXONL.woff") format("woff");
  src: url("../font/NEXONM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SEBANG";
  src: url("../font/SEBANG.otf") format("otf");
  src: url("../font/SEBANGBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mabi";
  src: url("../font/Mabinogi_Classic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  background-size: cover;
  background-position: center;
  list-style: none;
}

body {
  width: 100%;
  font-family: "Mabi";
  overflow-x: hidden;
  background-color: #fefefe;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.common_button {
  background-color: white;
  border: 2px solid #000;
  padding: 8px 16px;
  color: blue;
  font-size: 17px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.common_button:hover {
  background-color: #000;
  color: aliceblue;
}

#index_wrap {
  max-width: 700px;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 40px auto 0;
  padding: 16px;
  line-height: 1.5;
  font-size: 15px;
  color: #333;
  text-align: center;
}
#index_wrap .navigation {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 24px auto;
}
#index_wrap .navigation a {
  background-color: #eee;
  text-decoration: none;
  transition: 1.2s ease-in-out;
}
#index_wrap .navigation a:nth-child(odd) {
  background-color: #ccc;
}
#index_wrap .navigation a:hover {
  border-radius: 100%;
}
#index_wrap .navigation a li {
  width: 160px;
  height: 160px;
  margin: 8px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index_wrap .navigation a:hover {
  text-decoration: underline;
}
#index_wrap .title {
  font-size: 36px;
  font-family: "Do Hyeon", sans-serif;
}
#index_wrap .main_image {
  width: 500px;
  min-width: 300px;
  height: 420px;
  background-image: url("../image/hiwolfy0.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#index_wrap .social_wrap {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#index_wrap .social_wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#index_wrap .social_wrap a:hover {
  text-decoration: underline;
}
#index_wrap .social_wrap a p {
  margin-right: 8px;
  position: relative;
  top: -3px;
}
#index_wrap .social_wrap .icon_github {
  width: 14px;
  height: 14px;
  background-image: url("../image/github.png");
}
#index_wrap .social_wrap .icon_twitter {
  width: 14px;
  height: 14px;
  background-image: url("../image/twitter.png");
}
#index_wrap .social_wrap .icon_soundcloud {
  width: 14px;
  height: 14px;
  background-image: url("../image/soundcloud.png");
}
#index_wrap .copy {
  font-size: 13px;
  color: #aaa;
}

#op_wrap h2 {
  width: 300px;
  text-align: center;
  margin: 100px auto 36px;
  padding-bottom: 16px;
  font-size: 30px;
  position: relative;
}
#op_wrap h2::after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
#op_wrap hr {
  display: none;
  width: 40%;
  opacity: 0.3;
}
#op_wrap .logo_wrap {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #333;
  text-align: center;
}
#op_wrap .logo_wrap span {
  font-size: 17px;
  font-weight: bold;
}
#op_wrap .logo_wrap p {
  font-size: 13px;
  color: #999;
}
#op_wrap .logo_wrap .logo_container {
  width: 248px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#op_wrap .logo_wrap .logo_container span {
  margin: 16px auto 4px;
}
#op_wrap .logo_wrap .logo_container .logo_img {
  width: 248px;
  height: 248px;
  border: 8px solid #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#op_wrap .logo_wrap .logo_container .logo_img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#op_wrap .logo_wrap .logo_container .logo_1 {
  background-image: url("../image/logo1.png");
}
#op_wrap .logo_wrap .logo_container .logo_2 {
  background-image: url("../image/logo2.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_3 {
  background-image: url("../image/logo3.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_4 {
  background-image: url("../image/logo4.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_5 {
  background-image: url("../image/logo5.png");
}
#op_wrap .logo_wrap .logo_container .logo_6 {
  background-image: url("../image/logo6.png");
}
#op_wrap .logo_wrap .logo_container .logo_7 {
  background-image: url("../image/logo7.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_8 {
  background-image: url("../image/logo8.jpeg");
}
#op_wrap .logo_wrap .logo_container .logo_9 {
  background-image: url("../image/logo9.png");
}
#op_wrap .logo_wrap .logo_container .logo_10 {
  background-image: url("../image/logo10.png");
}
#op_wrap .logo_wrap .logo_container .logo_11 {
  background-image: url("../image/logo11.png");
}
#op_wrap .operation_foot {
  width: 300px;
  margin: 80px auto 48px;
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: center;
}
#op_wrap .operation_foot::after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

#info_wrap {
  width: 90%;
  margin: 0 auto;
  word-break: keep-all;
  font-family: "NEXON";
  text-align: center;
}
#info_wrap .info_img {
  min-width: 250px;
  width: 300px;
  height: 240px;
  margin: 36px auto 0px;
  background-image: url("/image/hiwolfy3.png");
}
#info_wrap .info_img:hover {
  width: 90%;
  max-width: 500px;
  background-size: 100%;
}
#info_wrap .info_img:hover::after {
  content: "2023. 01. 25 수정";
  background-color: #fff;
}
#info_wrap .info_container {
  max-width: 600px;
  min-width: 300px;
  margin: 24px auto 100px;
}
#info_wrap .info_container p {
  margin-top: 36px;
  font-size: 16px;
  line-height: 1.7 !important;
  letter-spacing: 0.2px;
  word-spacing: 1.5px;
}
#info_wrap .info_container p::before {
  content: "🐾";
  font-size: 30px;
  padding-left: 8px;
  opacity: 0.8;
}
#info_wrap .info_container p::after {
  content: "_";
}

.info_foot {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px;
}

@media (max-width: 600px) {
  #op_wrap h2 {
    font-size: 20px;
  }
  #op_wrap #info_wrap .info_container p {
    font-size: 14px;
  }
  #index_wrap .navigation a {
    font-size: 12px;
  }
  #index_wrap .navigation a li {
    width: 138px;
    height: 138px;
  }
}
/** page structure **/
.trpg_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  min-width: 700px;
  height: 100vh;
  overflow-y: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 28px;
}
.trpg_wrap .trpg_image {
  width: 280px;
  height: 230px;
  background-image: url("../image/hiwolfy5.png");
  position: absolute;
  top: 1%;
  right: 5%;
  opacity: 0.7;
}
.trpg_wrap details {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  word-break: keep-all;
  z-index: 100;
}
.trpg_wrap details summary {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s;
  box-shadow: 1px 1px 2px gray;
}
.trpg_wrap details .tpt {
  margin: 5px 0 10px;
  padding: 10px 20px;
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px gray;
}
.trpg_wrap details .tpt p::before {
  content: "✔";
}
.trpg_wrap .trpg_rule {
  width: 700px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.trpg_wrap .trpg_rule span {
  padding: 4px 12px;
  background-color: #fff;
  border-radius: 30px;
  font-size: 12.5px;
  color: #000;
  opacity: 0.7;
}
.trpg_wrap .trpg_rule span:nth-child(1) {
  border: 3px solid rgb(0, 228, 38);
}
.trpg_wrap .trpg_rule span:nth-child(2) {
  border: 3px solid rgb(255, 36, 36);
}
.trpg_wrap .trpg_rule span:nth-child(3) {
  border: 3px solid rgb(7, 197, 255);
}
.trpg_wrap .trpg_rule span:nth-child(4) {
  border: 3px solid rgb(255, 189, 9);
}
.trpg_wrap .trpg_rule span:nth-child(5) {
  border: 3px solid rgb(62, 8, 255);
}
.trpg_wrap .trpg_rule span:hover {
  opacity: 1;
}
.trpg_wrap #targetPn {
  width: auto;
  height: 60vh;
  overflow-y: scroll;
}
.trpg_wrap table {
  max-width: 1000px;
  min-width: 700px;
  margin: 0 auto;
  font-size: 18px;
}
.trpg_wrap tr th,
.trpg_wrap tr td {
  padding: 10px 8px;
  text-align: center;
}
.trpg_wrap tr td:nth-child(1) {
  text-align: left;
}
.trpg_wrap tr td:nth-child(3) {
  width: 100px;
}
.trpg_wrap tr td:nth-child(4) {
  width: 100px;
}
.trpg_wrap tr:nth-child(1) {
  cursor: pointer;
  background: #eee;
}
.trpg_wrap h1 {
  font-size: 30px;
  text-align: center;
  margin: 80px auto 24px;
  z-index: 100;
}
.trpg_wrap h6 {
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}
.trpg_wrap h6 span {
  color: #333;
  font-weight: 700;
}

@media (max-width: 699px) {
  .trpg_wrap {
    width: 91vw;
    min-width: 300px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: none;
  }
  .trpg_wrap .trpg_image {
    opacity: 0.2;
  }
  .trpg_wrap details {
    width: 100%;
    font-size: 13px;
  }
  .trpg_wrap details .tpt {
    font-size: 12px;
  }
  .trpg_wrap h1 {
    width: 100%;
    font-size: 20px;
    z-index: 10;
  }
  .trpg_wrap .trpg_rule {
    width: 100%;
    flex-wrap: wrap;
  }
  .trpg_wrap #targetPn {
    width: 100%;
  }
  .trpg_wrap #targetPn table {
    font-size: 14.5px;
  }
}
#character_wrap {
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;
  word-break: keep-all;
  /* Menu das abas */
  /* Conteúdo das abas */
}
#character_wrap h1 {
  font-size: 26px;
  text-align: center;
  margin: 24px;
}
#character_wrap header div {
  font-size: 14px;
  text-align: center;
  width: 600px;
  margin: 0 auto 24px;
}
#character_wrap header div p {
  line-height: 1.6;
}
#character_wrap .tabs-menu {
  width: 100%;
  background: #eee;
}
#character_wrap .tabs-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#character_wrap .tabs-menu ul li {
  width: 16%;
  text-align: center;
}
#character_wrap .tabs-menu ul li a {
  display: block;
  padding: 10px 28px;
  text-decoration: none;
  color: #333;
}
#character_wrap .tabs-menu ul li a.active_tab_class {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: #fff;
}
#character_wrap .tabs {
  display: none;
  padding: 48px 0;
}
#character_wrap .tabs .tabs_inner {
  margin: 16px;
  text-align: center;
}
#character_wrap .tabs .tabs_inner p {
  width: 260px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.15s all ease-in-out;
}
#character_wrap .tabs .tabs_inner p:hover {
  overflow: hidden;
  transform: scale(1.01);
}
#character_wrap .tabs .tabs_inner h5 {
  font-weight: normal;
  font-size: 13px;
  margin: 8px auto 4px;
  color: #666;
}
#character_wrap .tabs .tabs_inner .ch1 {
  background-image: url("../image/c2.png");
  background-size: 115%;
}
#character_wrap .tabs .tabs_inner .ch2 {
  background-image: url("../image/c1.png");
  background-position: 45% 50%;
  background-size: 125%;
}
#character_wrap .tabs .tabs_inner .ch3 {
  background-image: url("../image/c6.png");
  background-position: 45% 10%;
  background-size: 125%;
}
#character_wrap .tabs .tabs_inner .ch4 {
  background-image: url("../image/c3.png");
}
#character_wrap .tabs .tabs_inner .ch5 {
  background-image: url("../image/c4.png");
}
#character_wrap .tabs .tabs_inner .ch6 {
  background-image: url("../image/c7.png");
}
#character_wrap .tabs .tabs_inner .ch7 {
  background-image: url("../image/c12.png");
}
#character_wrap .tabs .tabs_inner .ch8 {
  background-image: url("../image/c11.png");
}
#character_wrap .tabs .tabs_inner .ch9 {
  background-image: url("../image/c10.png");
}
#character_wrap .tabs .tabs_inner .ch10 {
  background-image: url("../image/c9.png");
  background-position: 50% 0%;
}
#character_wrap .tabs .tabs_inner .ch11 {
  background-image: url("../image/c5.png");
}
#character_wrap .tabs .tabs_inner .ch12 {
  background-image: url("../image/c13.png");
  background-position: 30% 20%;
  background-size: 130%;
}
#character_wrap .tabs .tabs_inner .ch13 {
  background-image: url("../image/c15.png");
  background-size: 214%;
  background-position: 50% 20%;
}
#character_wrap .tabs .tabs_inner .ch14 {
  background-image: url("../image/c14.png");
}
#character_wrap .tabs .tabs_inner .ch15 {
  background-image: url("../image/c8.png");
}
#character_wrap .tabs .tabs_inner .ch16 {
  background-image: url("../image/c16.png");
  background-size: 134%;
  background-position: 40% 10%;
}
#character_wrap .tabs .tabs_inner .ch17 {
  background-image: url("../image/c17.png");
}
#character_wrap .tabs .tabs_inner .ch18 {
  background-image: url("../image/c18.png");
}
#character_wrap .tabs .tabs_inner .ch19 {
  background-image: url("../image/c19.png");
  background-position: 80% 0%;
}
#character_wrap .tabs .tabs_inner .ch20 {
  background-image: url("../image/c20.png");
}
#character_wrap .tabs .tabs_inner .ch23 {
  background-image: url("../image/c21.png");
}
#character_wrap .tabs .tabs_inner .ch24 {
  background-image: url("../image/c22.png");
}
#character_wrap .tabs .tabs_inner .ch25 {
  background-image: url("../image/c27.png");
}
#character_wrap .tabs .tabs_inner .ch26 {
  background-image: url("../image/c23.png");
}
#character_wrap .tabs .tabs_inner .ch27 {
  background-image: url("../image/c24.png");
}
#character_wrap .tabs .tabs_inner .ch28 {
  background-image: url("../image/c25.png");
}
#character_wrap .tabs .tabs_inner .ch29 {
  background-image: url("../image/c26.png");
}
#character_wrap .tabs .tabs_inner .ch30 {
  background-image: url("../image/c30.png");
}
#character_wrap .tabs .tabs_inner .ch31 {
  background-image: url("../image/c26.png");
}
#character_wrap .tabs .tabs_inner .ch32 {
  background-image: url("../image/c31.png");
}
#character_wrap .tabs .tabs_inner .ch33 {
  background-image: url("../image/c99.png");
}
#character_wrap .tabs .tabs_inner .ch34 {
  background-image: url("../image/c28.png");
}
#character_wrap .tabs.active_tab_class {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.admin_wrap {
  max-width: 700px;
  min-width: 300px;
  margin: 48px auto;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.admin_wrap h2 {
  font-size: 16px;
  line-height: 3;
}
.admin_wrap li::before {
  content: "- ";
}