// ------------------------------------------------------

@import "_color";

@keyframes blink_effect {
  50% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

#index_wrap {
  max-width: 700px;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 40px auto 0;
  padding: 16px;
  line-height: 1.5;
  font-size: 15px;
  color: #333;
  text-align: center;

  .thanks {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 40px;

    &:hover {
      background-color: #999;
    }

    span {
      color: #fff;
      font-size: 50px;
      position: relative;
      font-weight: 100;
      top: 8px;
    }
  }

  #modal {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 280px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;

    .modal_img {
      width: 50px;
      height: 50px;
      background-image: url("../image/tocken1.png");
      margin: 20px auto 20px;
    }

    h4 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 17px;
      box-sizing: border-box;
      padding: 20px;
      background-color: #eee;
      border-radius: 10px 10px 0 0;

      #close {
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;
        background-image: url("../image/icon/close.png");
      }
    }

    div {
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin-top: 10px;
      }
    }
  }

  #modal_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000;
    opacity: 0.6;
    z-index: 100;
  }

  .profile_container {
    .main_ver {
      font-size: 13px;
      animation: blink_effect 2s step-end infinite;
    }
  }
  hr {
    width: 100vw;
    position: absolute;
    left: 0;
    border: none;
    height: 1px;
    background-color: #ddd;
  }

  nav {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    margin: 24px auto;

    a {
      display: flex;
      position: relative;
      width: 100%;
      height: 170px;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      background-size: 90%;
      background-position: center;
      background-repeat: no-repeat;
      color: #fff;

      &:hover {
        animation: float 1s ease-in-out infinite;
      }

      &:nth-child(1) {
        background-image: url("../image/main/1-4.png");

        &:hover {
          background-image: url("../image/main/1-1.png");
        }
      }

      &:nth-child(2) {
        background-image: url("../image/main/5-1.png");

        &:hover {
          background-image: url("../image/main/5-2.png");
        }
      }

      &:nth-child(4) {
        background-image: url("../image/main/2-1.png");

        &:hover {
          background-image: url("../image/main/2-2.png");
        }
      }

      &:nth-child(3) {
        background-image: url("../image/main/4-2.png");

        &:hover {
          background-image: url("../image/main/4-1.png");
        }
      }

      &:nth-child(5) {
        background-image: url("../image/main/3-1.png");

        &:hover {
          background-image: url("../image/main/3-4.png");
        }
      }

      &:nth-child(6) {
        background-image: url("../image/main/6-2.png");

        &:hover {
          background-image: url("../image/main/6-1.png");
        }
      }

      &::before {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 4px 0px;
        line-height: 1;
        content: "";
      }

      &:nth-child(1) {
        &::before {
          content: "설명서";
          background-color: #f84f4f;
        }
      }

      &:nth-child(2) {
        &::before {
          content: "러닝커뮤 목록";
          background-color: #3ac952;
        }
      }

      &:nth-child(3) {
        &::before {
          content: "TRPG 설명서";
          background-color: #e4a700;
        }
      }

      &:nth-child(4) {
        &::before {
          content: "UTAU";
          background-color: #0294d8;
        }
      }

      &:nth-child(5) {
        &::before {
          content: "커미션 페이지";
          background-color: #583048;
        }
      }

      &:nth-child(6) {
        &::before {
          content: "admin page";
          background-color: #000;
        }
      }
    }
  }

  .title {
    font-size: 36px;
    font-family: "Do Hyeon", sans-serif;
  }

  .main_image {
    width: 250px;
    height: 250px;
    background-image: url("../image/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 24px auto 16px;
    transition: 0.5s ease-in-out;
    border: 1px solid #000;
  }

  .social_wrap {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      p {
        margin-right: 8px;
        position: relative;
        top: -3px;
      }
    }

    .icon_github {
      width: 14px;
      height: 14px;
      background-image: url("../image/icon/github.png");
    }

    .icon_twitter {
      width: 14px;
      height: 14px;
      background-image: url("../image/icon/twitter.png");
    }

    .icon_soundcloud {
      width: 14px;
      height: 14px;
      background-image: url("../image/icon/soundcloud.png");
    }
  }

  .copy {
    margin-top: 20px;
    font-size: 13px;
    color: #333;
    letter-spacing: 0.5px;
  }
}

// --------------------------------------
// ----------------여기서부터 다른페이지

#op_wrap {
  h2 {
    width: 300px;
    text-align: center;
    margin: 100px auto 36px;
    padding-bottom: 16px;
    font-size: 30px;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      opacity: 0.3;
      background-color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  hr {
    display: none;
    width: 40%;
    opacity: 0.3;
  }

  .logo_wrap {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    color: #333;
    text-align: center;

    span {
      font-size: 17px;
      font-weight: bold;
    }

    p {
      font-size: 13px;
      color: #999;
    }

    .logo_container {
      width: 248px;
      margin: 16px auto;
      display: flex;
      align-items: center;
      flex-direction: column;

      span {
        margin: 16px auto 4px;
      }

      .logo_img {
        width: 248px;
        height: 248px;
        border: 8px solid #fff;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        background-size: 100%;

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15),
            0 10px 10px rgba(0, 0, 0, 0.22);
          background-size: 105%;
        }
      }

      .logo_1 {
        background-image: url("../image/logo1.png");
      }
      .logo_2 {
        background-image: url("../image/logo2.jpeg");
      }
      .logo_3 {
        background-image: url("../image/logo3.jpeg");
      }
      .logo_4 {
        background-image: url("../image/logo4.jpeg");
      }
      .logo_5 {
        background-image: url("../image/logo5.png");
      }
      .logo_6 {
        background-image: url("../image/logo6.png");
      }
      .logo_7 {
        background-image: url("../image/logo7.jpeg");
      }
      .logo_8 {
        background-image: url("../image/logo8.jpeg");
      }
      .logo_9 {
        background-image: url("../image/logo9.png");
      }
      .logo_10 {
        background-image: url("../image/logo10.png");
      }
      .logo_11 {
        background-image: url("../image/logo11.png");
      }
      .logo_12 {
        background-image: url("../image/logo12.png");
      }
    }
  }
  .operation_foot {
    width: 300px;
    margin: 80px auto 48px;
    position: relative;
    padding: 24px;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      opacity: 0.3;
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// ---------------------------------------------
// ---------------------------------------------

@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.info_header {
  height: 48px;
  background-color: #fff;
  z-index: 1000;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info_wrap {
  width: 90%;
  margin: 0 auto;
  word-break: keep-all;
  font-family: "NanumSquareNeo-Variable";
  text-align: center;

  .info_img {
    min-width: 170px;
    width: 170px;
    height: 200px;
    margin: 36px auto 0px;
    background-image: url("/image/infoC2.png");

    &:hover {
      animation: shake 0.5s infinite;
      background-image: url("/image/infoC.png");
    }
  }

  .info_container {
    max-width: 600px;
    min-width: 280px;
    margin: 24px auto 100px;
    // padding: 16px 8px;
    // border: #ddd 1px solid;
    // border-radius: 50px;

    p {
      margin-top: 36px;
      font-size: 16px;
      line-height: 1.7;
      letter-spacing: 0.2px;
      word-spacing: 1.5px;

      &::before {
        content: "🐾";
        font-size: 30px;
        padding-left: 8px;
        opacity: 0.8;
      }

      &::after {
        content: "_";
        color: #ccc;
      }
    }
  }
}

.info_foot {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px;
}

@media (max-width: 600px) {
  #op_wrap {
    h2 {
      font-size: 20px;
    }
  }
  #info_wrap {
    width: 100%;
    padding: 10px;
    .info_container p {
      width: 100%;
      margin: 30px auto;
      padding: 0;
      box-sizing: border-box;
      font-size: 14px;
    }
  }
  #index_wrap {
    width: 100%;
    max-width: none;
    min-width: 280px;
    margin: 0 auto 100px;
    padding: 0;

    nav {
      width: 100%;
      min-width: none;
      max-width: 320px;
      display: grid;
      grid-template-columns: repeat(3, 0.4fr);
      grid-auto-rows: 7.5rem 7.5rem 7.5rem;
      grid-gap: 0px;
      justify-content: center;
      align-items: center;
      margin: 20px auto;

      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        font-size: 12px;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .social_wrap {
      width: 100%;
      min-width: 280px;
      max-width: 280px;
      font-size: 12px;
    }
    .thanks {
      bottom: 20px;
      right: 20px;
      width: 45px;
      height: 45px;
    }
  }

  body {
    font-size: 14px;
  }

  .lang {
    padding: 0 !important;
    justify-content: center !important;
  }
}

.info_foot {
  display: flex;
  justify-content: center;
  margin: 40px auto 40px;

  button {
    font-size: 14px;
  }
}

#sidebar {
  display: none !important;
}

#page-container {
  display: none !important;
}
