#character_wrap {
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;
  word-break: keep-all;

  .common_button {
    width: 100px;
    text-align: center;
    margin: 24px 24px 24px auto;
  }

  h1 {
    font-size: 26px;
    text-align: center;
    margin: 24px;
  }

  header {
    div {
      font-size: 14px;
      text-align: center;
      width: 600px;
      margin: 0 auto 24px;

      p {
        line-height: 1.6;
      }
    }

    // .character_img {
    //   width: 180px;
    //   height: 130px;
    //   background-image: url("../image/hiwolfy.png");
    //   margin: 20px auto;
    //   /* border-radius: 100%; */
    // }
  }

  /* Menu das abas */
  .tabs_menu {
    max-width: 900px;
    min-width: 600px;
    background: #eee;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;

      li {
        width: 100%;
        text-align: center;

        a {
          display: block;
          padding: 10px 28px;
          text-decoration: none;
          color: #333;
          transition: 0.3s all;

          &:hover {
            color: #fff;
            background-color: #666;
          }

          &.active_tab {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #111;
            color: #fff;
          }
        }
      }
    }
  }
  /* Conteúdo das abas */

  .tabs {
    display: none;
    padding: 48px 0;

    .tabs_inner {
      margin: 16px;
      text-align: center;

      p {
        width: 260px;
        height: 350px;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 0.3s all ease-in-out;
        background-repeat: no-repeat;

        &:hover {
          border: 5px solid #000;
          border-radius: 4px;
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
      }

      h5 {
        font-weight: normal;
        font-size: 13px;
        margin: 8px auto 4px;
        color: #666;
      }

      .ch1 {
        background-image: url("../image/c2.png");
        background-size: 115%;

        &:hover {
          background-size: 130%;
          background-position: center 0px;
        }
      }
      .ch2 {
        background-image: url("../image/c1.png");
        background-position: 45% 50%;
        background-size: 125%;
        &:hover {
          background-size: 140%;
          background-position: center 0px;
        }
      }
      .ch3 {
        background-image: url("../image/c6.png");
        background-position: 45% 10%;
        background-size: 125%;
        &:hover {
          background-size: 140%;
          background-position: 55% 8%;
        }
      }
      .ch4 {
        background-image: url("../image/c3.png");
        background-size: 127%;

        &:hover {
          background-size: 150%;
          background-position: center 0;
        }
      }
      .ch5 {
        background-image: url("../image/c4.png");
        background-size: 120%;
        &:hover {
          background-size: 140%;
          background-position: center 0;
        }
      }
      .ch6 {
        background-image: url("../image/c7.png");
        background-size: 160%;
        &:hover {
          background-size: 180%;
          background-position: 40% 0;
        }
      }
      .ch7 {
        background-image: url("../image/c12.png");
        background-size: 118%;

        &:hover {
          background-size: 140%;
          background-position: 100% 50%;
        }
      }
      .ch8 {
        background-image: url("../image/c11.png");
        background-size: 100%;

        &:hover {
          background-size: 140%;
          background-position: 100% 0px;
        }
      }
      .ch9 {
        background-image: url("../image/c10.png");
        background-size: 120%;

        &:hover {
          background-size: 140%;
          background-position: center 20%;
        }
      }
      .ch10 {
        background-image: url("../image/c9.png");
        background-size: 100%;
        background-position: 50% 0%;

        &:hover {
          background-size: 120%;
          background-position: center 0%;
        }
      }
      .ch11 {
        background-image: url("../image/c5.png");
        background-size: 110%;
        &:hover {
          background-size: 130%;
          background-position: center 0%;
        }
      }
      .ch12 {
        background-image: url("../image/c13.png");
        background-position: 30% 20%;
        background-size: 130%;
      }
      .ch13 {
        background-image: url("../image/c15.png");
        background-size: 214%;
        background-position: 50% 20%;
      }
      .ch14 {
        background-image: url("../image/c14.png");
      }
      .ch15 {
        background-image: url("../image/c8.png");
      }
      .ch16 {
        background-image: url("../image/c16.png");
        background-size: 134%;
        background-position: 40% 10%;
      }
      .ch17 {
        background-image: url("../image/c17.png");
      }
      .ch18 {
        background-image: url("../image/c18.png");
      }
      .ch19 {
        background-image: url("../image/c19.png");
        background-position: 80% 0%;
      }
      .ch20 {
        background-image: url("../image/c20.png");
      }
      // .ch21 {
      //   background-image: url("../image/c20.png");
      // }
      // .ch22 {
      //   background-image: url("../image/c20.png");
      // }
      .ch23 {
        background-image: url("../image/c21.png");
      }
      .ch24 {
        background-image: url("../image/c22.png");
      }
      .ch25 {
        background-image: url("../image/c27.png");
      }
      .ch26 {
        background-image: url("../image/c23.png");
      }
      .ch27 {
        background-image: url("../image/c24.png");
      }
      .ch28 {
        background-image: url("../image/c25.png");
      }
      .ch29 {
        background-image: url("../image/c26.png");
      }
      .ch30 {
        background-image: url("../image/c30.png");
      }
      .ch32 {
        background-image: url("../image/c31.png");
      }
      .ch33 {
        background-image: url("../image/c99.png");
      }
      .ch34 {
        background-image: url("../image/c28.png");
      }
      .ch35 {
        background-image: url("../image/c32.png");
        background-size: 120%;
        &:hover {
          background-size: 160%;
          background-position: center 0%;
        }
      }
    }
  }

  .tabs.active_tab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
