/** page structure **/

.trpg_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  min-width: 700px;
  height: 100vh;
  overflow-y: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 28px;

  .trpg_image {
    width: 280px;
    height: 230px;
    background-image: url("../image/hiwolfy5.png");
    position: absolute;
    top: 1%;
    right: 5%;
    opacity: 0.7;
  }

  details {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    word-break: keep-all;
    z-index: 100;

    summary {
      text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
      outline: 0;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.5s;

      box-shadow: 1px 1px 2px gray;
    }

    .tpt {
      margin: 5px 0 10px;
      padding: 10px 20px;
      line-height: 25px;
      border-radius: 5px;
      border: 1px solid #333;
      box-shadow: 1px 1px 2px gray;

      p::before {
        content: "✔";
      }
    }
  }
  .trpg_rule {
    z-index: 10;
    width: 700px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
      padding: 4px 12px;
      background-color: #fff;
      border-radius: 30px;
      font-size: 12.5px;
      color: #000;
      opacity: 0.7;

      &:nth-child(1) {
        border: 3px solid rgb(0, 228, 38);
      }

      &:nth-child(2) {
        border: 3px solid rgb(255, 36, 36);
      }

      &:nth-child(3) {
        border: 3px solid rgb(7, 197, 255);
      }

      &:nth-child(4) {
        border: 3px solid rgb(255, 189, 9);
      }

      &:nth-child(5) {
        border: 3px solid rgb(62, 8, 255);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  #targetPn {
    width: auto;
    height: 60vh;
    overflow-y: scroll;
  }

  table {
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    font-size: 18px;
  }

  tr {
    td {
      padding: 10px 8px;
      text-align: center;
    }

    td:nth-child(1) {
      text-align: left;
    }

    td:nth-child(3) {
      width: 100px;
    }

    td:nth-child(4) {
      width: 100px;
    }

    th {
      cursor: pointer;
      background: #eee;
      padding: 10px 8px;
    }
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin: 80px auto 24px;
    z-index: 100;
  }
  h6 {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    color: #999;
    line-height: 1.5;

    span {
      color: #333;
      font-weight: 700;
    }
  }
}

@media (max-width: 699px) {
  .trpg_wrap {
    width: 91vw;
    min-width: 300px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: none;

    .trpg_image {
      opacity: 0.2;
    }

    details {
      width: 100%;
      font-size: 13px;
      .tpt {
        font-size: 12px;
      }
    }

    h1 {
      width: 100%;
      font-size: 20px;
      z-index: 10;
    }

    .trpg_rule {
      width: 100%;
      flex-wrap: wrap;
    }

    #targetPn {
      width: 100%;
      table {
        font-size: 14.5px;
      }
    }
  }
}
