/** page structure **/

.trpg_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  min-width: 700px;
  height: 90vh;
  overflow-y: hidden;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 28px;

  .trpg_image {
    width: 280px;
    height: 230px;
    background-image: url("../image/hiwolfy5.png");
    position: absolute;
    top: 1%;
    right: 5%;
    opacity: 0.7;
  }

  details {
    width: 520px;
    margin: 0 auto;
    background-color: #fff;
    word-break: keep-all;
    z-index: 100;

    summary {
      text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
      outline: 0;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.5s;

      box-shadow: 1px 1px 2px gray;
    }

    .tpt {
      display: block;
      margin: 5px 0 10px;
      padding: 10px 20px;
      line-height: 25px;
      border-radius: 5px;
      border: 1px solid #333;
      box-shadow: 1px 1px 2px gray;

      p {
        margin: 30px 0px 10px;
      }

      p::before {
        content: "✔";
      }
    }
  }
  .trpg_rule {
    z-index: 10;
    width: 700px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
      padding: 4px 12px;
      background-color: #fff;
      border-radius: 30px;
      font-size: 12.5px;
      color: #000;
      opacity: 0.7;

      &:nth-child(1) {
        border: 3px solid rgb(0, 228, 38);
      }

      &:nth-child(2) {
        border: 3px solid rgb(255, 36, 36);
      }

      &:nth-child(3) {
        border: 3px solid rgb(7, 197, 255);
      }

      &:nth-child(4) {
        border: 3px solid rgb(255, 189, 9);
      }

      &:nth-child(5) {
        border: 3px solid rgb(62, 8, 255);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .search_input {
    width: 360px;
    margin: 20px auto 24px;
    box-sizing: border-box;
    padding: 10px 16px 10px 50px;
    font-family: "mabi";
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid #aaa;
    background-color: #eee;
    background-image: url("../image/icon/search.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 12px;
    opacity: 0.5;
  }

  input {
    outline: none;
    transition: 0.4s all;
  }
  input:focus {
    border: 1px solid #000;
    background-color: #fff;
    opacity: 1;
  }

  .hr {
    width: 200px;
    height: 1px;
    background-color: #ccc;
    margin: 0px auto 30px;
  }

  #targetPn {
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;

    ul {
      width: 90%;
      margin: 0 auto;
      min-width: 900px;
      display: flex;
      border-bottom: 1px solid #000;

      li {
        padding: 10px 8px;
        text-align: center;
        font-weight: 900;
        font-size: 15px;

        &:nth-child(1) {
          width: auto;
        }

        &:nth-child(2) {
          width: 150px;
          margin-left: auto;
        }

        &:nth-child(3) {
          width: 100px;
        }

        &:nth-child(4) {
          width: 100px;
        }
      }
    }

    table {
      width: 90%;
      margin: 0 auto;
      min-width: 900px;
      font-size: 18px;

      tr {
        &:nth-child(even) {
          background-color: #f6f6f6;
        }
        td {
          padding: 10px 8px;
          text-align: center;

          &:nth-child(1) {
            text-align: left;
          }

          &:nth-child(2) {
            width: 150px;
          }

          &:nth-child(3) {
            width: 100px;
          }

          &:nth-child(4) {
            width: 100px;
          }
        }
      }
    }
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin: 80px auto 24px;
    z-index: 100;
  }
  h6 {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    color: #999;
    line-height: 1.5;

    span {
      color: #333;
      font-weight: 700;
    }
  }
}

@media (max-width: 699px) {
  .trpg_wrap {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 300px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: none;

    .trpg_image {
      opacity: 0.2;
    }

    details {
      width: 100%;
      font-size: 13px;
      .tpt {
        font-size: 12px;
      }
    }

    .search_input {
      width: 90%;
      font-size: 14px;
    }

    h1 {
      width: 100%;
      font-size: 20px;
      z-index: 10;
    }

    .trpg_rule {
      width: 100%;
      flex-wrap: wrap;
    }

    #targetPn {
      width: 100%;

      ul li {
        font-size: 13px;
      }

      table {
        font-size: 14.5px;
      }
    }
  }
}
