* {
  font-family: "SEBANG";
}

@font-face {
  font-family: "NEXON";
  src: url("NEXONM.woff") format("woff");
  src: url("NEXONB.woff") format("woff");
  src: url("NEXONL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SEBANG";
  src: url("SEBANG.otf") format("otf");
  src: url("SEBANGBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

#감싸기 {
  max-width: 560px;
  min-width: 300px;
  margin: 0 auto;
  padding: 16px;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}

.제목 {
  font-size: 24px;
}
