@font-face {
  font-family: "NEXON";
  src: url("NEXONM.woff") format("woff");
  src: url("NEXONB.woff") format("woff");
  src: url("NEXONL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fefefe;
  line-height: 1.7;
  letter-spacing: 0.2px;
  word-spacing: 1px;
}

#infoWrapPC {
  width: 480px;
  background-color: #fff;
  font-family: "NEXON" !important;
  color: #333;
  text-align: center;

  margin: 0 auto;
  padding: 48px 2px;
  font-size: 15px;
}

#infoWrapPC span {
  font-weight: 900;
  font-size: 16.5px;
  line-height: 2;
}

i {
  font-weight: 900;
}

.roww {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  color: #333;
}

button {
  padding: 8px 16px;
  border: 2px solid #333;
  transition: 0.4s all;
}

button:hover {
  background-color: #333;
  border-radius: 50px;
}

button a:hover {
  color: #fff;
}

@media all and (min-width: 320px) and (max-width: 500px) {
  #infoWrapPC {
    display: block;
    font-size: 13px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 48px 10px;
  }

  hr {
    color: #333;
    background-color: #333;
  }
}
